<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Cancion">
    
    <select id="registrarCancion" parameterType = "servicios.pojos.Cancion" >
        INSERT INTO cancion (idCancion, titulo, formato, idGenero, path, colaboradores,
        idUsuarioSubioCancion, idAlbum, calidad) VALUES (#{idCancion}, #{titulo}, #{formato}, 
        #{idGenero}, #{path}, #{colaboradores}, #{idUsuarioSubioCancion}, #{idAlbum},
        #{calidad});
    </select>
    
</mapper>
