<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Usuario">
    
    <select id="accesoUsuario" parameterType = "map" resultType="servicios.pojos.Usuario">
        SELECT * FROM usuario WHERE nombreUsuario = #{nombreUsuario} AND 
        clave = #{clave};
    </select>
    
    <insert id="registrarUsuario" parameterType ="map">
        INSERT INTO usuario (nombre, apellidoPat, apellidoMat, fechaNacimiento, 
        clave, nombreArtistico, tipoUsuario, nombreUsuario, calidadDescarga, calidadStream)
        VALUES (#{nombre}, #{apellidoPat},#{apellidoMat}, #{fechaNacimiento}, #{clave},
        #{nombreArtistico}, #{tipoUsuario}, #{nombreUsuario}, #{calidadDescarga}, #{calidadStream});
    </insert>
    
    <update id="actualizarCalidad" parameterType = "map" >
        UPDATE usuario SET calidadStream = #{calidadStream}, calidadDescarga= #{calidadDescarga}
        WHERE nombreUsuario = #{nombreUsuario};
    </update>
    
     <select id="getPorId" parameterType = "map" resultType="servicios.pojos.Usuario">
        SELECT * FROM usuario WHERE id = #{idUsuario};
    </select>
    
     <select id="getPorNombreUsuario" parameterType = "map" resultType="servicios.pojos.Usuario">
        SELECT * FROM usuario WHERE nombreUsuario = #{nombreUsuario};
    </select>
    
    
</mapper>