/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/06/2018, 09:38:55 PM
    Author     : Mari
*/


.jfx-buttonImage{
-fx-background-color: transparent;
}

.fondo {
    -fx-background-color: #092a35;
}

.label {
    -fx-font-size: 14px;
    -fx-font-family: "System"; 
    -fx-text-fill: #FFFFFF;
}

.label .titulo{
    -fx-font-size: 16px;
    -fx-font-family: "System"; 
    -fx-text-fill: #FFFFFF;
}

.jfx-button{
    -fx-background-color: #f7b32d;
    -fx-text-fill: BLACK;   
    -fx-font-size: 14px;
}

.tab-header-background{
    -fx-background-color: #092a35;
}

.jfx-text-field {
    -jfx-focus-color: #FFFFFF ;
    -jfx-background-color: #4580FF;
    -fx-text-fill: #FFFFFF;
    -fx-prompt-text-fill: #FFFFFF;    
}

.jfx-password-field {
    -jfx-focus-color: #FFFFFF ;
    -jfx-background-color: #4580FF;
    -fx-text-fill: #FFFFFF;
    -fx-prompt-text-fill: #FFFFFF;    
}


.combo-box .list-cell:selected{
    -fx-background: black;
    -fx-background-color: #092a35;
    -fx-text-fill: white;
    -jfx-focus-color: #FFFFFF ;
}

.combo-box .combo-box-popup .list-cell{
    -fx-background: black;
    -fx-background-color: #092a35;
    -fx-text-fill: white;
    -jfx-focus-color: #FFFFFF ;
}

.combo-box {
    -jfx-focus-color: #FFFFFF ;
}


.tab {
    -fx-pref-width: 150;
}

.tab-pane{
    -fx-padding: 0 -1 -1 -1;
}

.progress-bar > .track {
  -fx-box-border: black;
  -fx-text-box-border: black;
  -fx-control-inner-background: #092a35;
}
      

.progress-bar > .bar {
    -fx-background-color: green;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #093b49;
    -fx-background: #093b49;
    -fx-text-fill: white;
}

.list-cell {
    -fx-background: #093b49;
    -fx-background-color: #093b49;
    -fx-text-fill: white;
    -jfx-focus-color: #FFFFFF ;
}




