/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/06/2018, 09:38:55 PM
    Author     : Mari
*/


.jfx-buttonImage{
-fx-background-color: transparent;
}

.fondo {
    -fx-background-color: #092a35;
}

.label {
    -fx-font-size: 14px;
    -fx-font-family: "System"; 
    -fx-text-fill: #FFFFFF;
}

.labelTitulo {
    -jfx-text-fill: #FFFFFF;
    -fx-font-family: "System"; 
    -fx-font-size: 18pt;
}

.jfx-button{
    -fx-background-color: #f7b32d;
    -fx-text-fill: BLACK;   
    -fx-font-size: 14px;
}

.tab-header-background{
    -fx-background-color: #092a35;
}

.jfx-text-field {
    -jfx-focus-color: #FFFFFF ;
    -jfx-background-color: #4580FF;
    -fx-text-fill: #FFFFFF;
    -fx-prompt-text-fill: #FFFFFF;    
}

.jfx-password-field {
    -jfx-focus-color: #FFFFFF ;
    -jfx-background-color: #4580FF;
    -fx-text-fill: #FFFFFF;
    -fx-prompt-text-fill: #FFFFFF;    
}

.combo-box {
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-prompt-text-fill: #FFFFFF;  
    -jfx-focus-color: #FFFFFF ;
}

.tab {
    -fx-pref-width: 150;
}

.tab-pane{
    -fx-padding: 0 -1 -1 -1;
}


