<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <environments default="development">
        
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED" >
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/youtunesdb"/>
                <property name="username" value="youtunes"/>
                <property name="password" value="youtunes123"/>
                <property name="poolMaximumActiveConnections" value="50"/>
            </dataSource>
        </environment>
        
    </environments>
    
    <mappers>
        <mapper resource="modelo/mybatis/mappers/UsuarioMapper.xml"/>
        <mapper resource="modelo/mybatis/mappers/TipoUsuarioMapper.xml"/>
        <mapper resource="modelo/mybatis/mappers/AlbumMapper.xml"/>
        <mapper resource="modelo/mybatis/mappers/CancionMapper.xml"/>
        <mapper resource="modelo/mybatis/mappers/GeneroMapper.xml"/>
        <mapper resource="modelo/mybatis/mappers/ListaReproduccionMapper.xml"/>
        <mapper resource="modelo/mybatis/mappers/HistorialMapper.xml"/>
    </mappers>
</configuration>